
.header{
    color: grey;
    text-align: center;
    font-size: 50px;
}
.navlinks{
    color: black;
    text-align: center;
    font-size: 25px;
}
.copyright{
    text-align: center;
    font-style: italic;
}
body{
    background-color: rgb(218, 233, 238);
}
p{
    font-size: 20px;
}
.move{
    text-decoration: center;
}