body{
    background-color: rgb(218, 233, 238)
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resume{
    font-size: small;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.video{
    display: block;
    margin: auto;
}


